<!DOCTYPE html>
<html lang="en" ng-app="TodoApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">

    <title>Document</title>
</head>
<body class="container">

    <div ng-controller="TodoController as todoList">
        <div class="row">
            <a href="" ng-click="todoList.delete()">delete</a>
        </div>
        <div class="row">    
            <form ng-submit="todoList.add()">
                <input type="text" ng-model="todoList.text" />
                <input type="submit" value="add" class="btn-primary" />
            </form>
        </div>
        <ul class="unstyled">
            <li ng-repeat="x in todoList.todos">
                <label class="checkbox">
                    <input type="checkbox" ng-model="x.done"/> 
                    <!--here todoDone is true if checkbox is checked-->
                    <span class="done-{{x.done}}">{{x.task}}</span>
                </label>
            </li>
        </ul>
    </div>
</body>
</html>